
@model IEnumerable<WebBanHang.Models.ShoppingCartItem>

@if (Model != null && Model.Any())
{
    <h3>GIỎ HÀNG <span style="float:right;"><small>@Model.Count()</small></span></h3>

    var tongtien = decimal.Zero;
    <div style="border:1px solid #808080">
        <table class="table">
            @foreach (var item in Model)
            {
                tongtien += item.TotalPrice;
                <tr>
                    <td>@item.ProductName</td>
                    <td>@WebBanHang.Common.Common.FormatNumber(item.Price, 0)$x<small>@item.Quantity</small></td>
                </tr>

            }
            <tr>
                <td>Tổng tiền</td>
                <td>@WebBanHang.Common.Common.FormatNumber(tongtien, 0)$</td>
            </tr>
        </table>
    </div>
}
